//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^interlay.io[nc]
RewriteRule ^(.*)$ http://www.interlay.io/$1 [r=301,nc]

//Custom 404 errors
ErrorDocument 404 404.html

//Custom 500 errors
ErrorDocument 500 500.html
 