<footer class="footer footer-default">
    <div class="container">
        <div class="float-left copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> Interlay Ltd
        </div>
        <div class="float-right">
            <a class="nav-link lowercase" rel="tooltip" title="" data-placement="bottom"
                href="mailto:contact@interlay.io" target="_blank" data-original-title="Drop us an email">
                contact@interlay.io
            </a>
        </div>
        <div class="float-right">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://github.com/interlay"
                target="_blank" data-original-title="Follow us on Github">
                <i class="fa fa-github"></i>
            </a>
        </div>
        <div class="float-right">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://medium.com/Interlay"
                target="_blank" data-original-title="Follow us on Medium">
                <i class="fa fa-medium"></i>
            </a>
        </div>
        <div class="float-right">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/interlayHQ"
                target="_blank" data-original-title="Follow us on Twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>