<footer class="footer footer-default white-background mt-5">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form
                        action="https://interlay.us4.list-manage.com/subscribe/post?u=4c3c3f21d3ec4c3ed94ea7353&amp;id=ad217abce9"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                            <div class="input-group">
                                <input type="email" class="form-control"  name="EMAIL" id="mce-EMAIL"
                                    placeholder="Email newsletter sign up">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" name="subscribe"
                                        id="mc-embedded-subscribe">Subscribe</button>
                                </span>
                            </div>

                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_4c3c3f21d3ec4c3ed94ea7353_ad217abce9" tabindex="-1" value=""></div>

                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="float-right">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="http://linkedin.com/company/interlay" target="_blank"
                        data-original-title="Follow us on LinkedIn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="float-right">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="https://medium.com/Interlay" target="_blank" data-original-title="Follow us on Medium">
                        <i class="fab fa-medium"></i>
                    </a>
                </div>
                <div class="float-right">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="https://github.com/interlay" target="_blank" data-original-title="Follow us on Github">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="float-right">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://discord.com/invite/KgCYK3MKSf"
                        target="_blank" data-original-title="Join our Discord">
                        <i class="fab fa-discord"></i>
                    </a>
                </div>
                <div class="float-right">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://t.me/interlay"
                        target="_blank" data-original-title="Join our Telegram channel">
                        <i class="fab fa-telegram"></i>
                    </a>
                </div>
                <div class="float-right">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="https://twitter.com/interlayHQ" target="_blank"
                        data-original-title="Follow us on Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="float-right">
                    <a class="nav-link lowercase" rel="tooltip" title="" data-placement="bottom"
                        href="mailto:contact@interlay.io" target="_blank" data-original-title="Drop us an email">
                        contact@interlay.io
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="nav-link text-capitalize">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script> Interlay. All Rights Reserved | <a class=" text-capitalize" rel="tooltip" title=""
                        data-placement="bottom" href="../docs/privacy-policy.pdf" target="_blank">Privacy Policy
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>