
.profile-image {
   max-width: 10rem;
   box-sizing: border-box; 
   border-radius: 50%;
}
.page-header-padding {
   padding-top: 30vh;
}
.lowercase {
   text-transform: lowercase;
}
.interlay-font{
   font-family: 'Audiowide', sans-serif;
}

.xclaim-head-logo {
    max-width: 10rem;
  }
